<template name="architecture">
    <main class="content">
        <div class="iosslider">
            <div class="slider">

                <!-- slides -->
                <div class="slide" style="background-image: url('/images/architecture/Ausstelung-08.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/Beton02.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/EstructuraEspiralFront.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/levitating.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/ModuloVariacionesEstructura.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/EstructuraPapelPositivo.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/Gips01.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/Gips03.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/PuSchaum01.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/PuSchaum02.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/MEDIATECA01.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/MEDIATECA05.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/MEDIATECA09.jpg');">
                </div>
                <div class="slide" style="background-image: url('/images/architecture/corpusdelicti.jpg');">
                </div>
            </div>

            <!-- slide controls -->
            <ul class="slide-controls horizontal-menu">
                <li><button class="active"></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
            </ul>
            <button class="absolute-left icon-arrow-left7"></button>
            <button class="absolute-right icon-uniE6D8"></button>
        </div>
    </main>
</template>