<template name="cv">
    <main class="content cv">
        <p>
            Marjorie Hernandez obtained her Diploma in Architecture in 2009 and became a member of the Venezuelan Chamber of Architects.
            She completed here Master Studies in Germany and the US; obtaining her M.Sc. degree with Honours in Media Architecture.
        </p>
        <p>
            Her work has been presented at the ZKM in Karlsruhe as well in different Galleries and Film Festivals in Germany, Venezuela and the US.
        </p>
        <a href="/downloads/MHernandezCV2014.pdf" target="_blank" class="block-button">Download full CV</a>

        <div class="clear-fix"></div>
    </main>
</template>