<template name="photography">
    <main class="content">
        <div class="iosslider">
            <div class="slider">

                <!-- slides -->
                <div class="slide" style="background-image: url('/images/photography/DSC2047.jpg')">
                </div>
                <div class="slide" style="background-image: url('/images/photography/metal.jpg')">
                </div>
                <div class="slide" style="background-image: url('/images/photography/water.jpg')">
                </div>
                <div class="slide" style="background-image: url('/images/photography/VideoSoundWaves02.jpg')">
                </div>
                <div class="slide" style="background-image: url('/images/photography/VideoWaterColors002.jpg')">
                </div>
                <div class="slide" style="background-image: url('/images/photography/IMG_1302.jpg')">
                </div>
            </div>

            <!-- slide controls -->
            <ul class="slide-controls horizontal-menu">
                <li><button class="active"></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
            </ul>
            <button class="absolute-left icon-arrow-left7"></button>
            <button class="absolute-right icon-uniE6D8"></button>
        </div>
    </main>
</template>